.result-text-container {
  width: 100%;
  background-color: rgb(182 182 182);
  border-radius: 0.5rem;
  padding: 6px 12px;
  overflow-x: auto;
  min-height: 100px;
  user-select: none;
}

.highlighted-token {
  padding: 0 5px;
  border-radius: 5px;
}

.color-table-header {
  width: 10px;
}

.color-table-item {
  vertical-align: middle;

  & div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #cccccc;
  }
}

.hover-effect {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    /* darken bg on hover */
    background-color: rgb(88, 88, 88) !important;
    color: #ffffff;
  }
}

@media (width > 768px) {
  textarea,
  .result-text-container {
    height: 375px;
  }
}
